@charset "utf-8";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0;
}

article { 
  position: absolute; 
  text-align: center; 
  top: 0;
  margin: 100px 50px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  font-family: 'Open Sans';
  border-radius: 5px;
}

.column {
  width: 30%; 
  min-width: 250px;
}

article.dark {
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.8);
}

article.left {
  left: 0;
}

article.right {
  right: 0;
}

article.middle {
  left: 0;
  right: 0;
  margin: 50px;
}

p {
  text-align: justify;
}

#bigtext {
  text-align:center;
  width: 100%;
  height: 300px;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
  position: absolute;
  top: -5%;
}


#subtitle {
  text-align: center;
  width: 100%;
  height: 100px;
  color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  margin-top: -1em;
}

#nav {
  top: auto;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 100;
}

#nav.fixed {
  position: fixed;
  top:0;
}

#nav li{
  display: inline-block;
  list-style-type: none;
  width: 20%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

#nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.8em 0;
  display: inline-block;
  font-family: 'Open Sans'
}

a.sponsor {
  height: 50px;
  width: 30%;
  display: inline-table;
}

a.sponsor img {
  max-height: 50px;
}

#nav li.active {
  background-color: rgba(255,255,255,0.5);
}

.fadein {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  50% {
   opacity: 50%;
  }
  to {
   opacity: 100%;
  }
}

/* You can modify these CSS styles */
.vimeo img { border: 0; }
.vimeo a, .vimeo a:link, .vimeo a:visited, .vimeo a:active { color: black; text-decoration: none; cursor: pointer; }
.vimeo a:hover { color:#00CCFF; }
.vimeo #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
.vimeo .credit { font: normal 11px verdana,sans-serif; }
.vimeo .clip { padding:0; display: inline-block; margin:0 10px 10px 0;}
.vimeo .caption { white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.vimeo .clear { display: block; clear: both; visibility: hidden; }
.vimeo .s160 { width: 160px; } .vimeo .s80 { width: 80px; } .vimeo .s100 { width: 100px; } .vimeo .s200 { width: 200px; }