@charset "utf-8";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

section {
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0;
}

article { 
  position: absolute; 
  text-align: center; 
  top: 0;
  margin: 50px;
  background-color: rgba(255,255,255,0.8);
  max-width: 30%; 
  min-width: 200px;
  padding: 10px 30px;
  font-family: 'Open Sans';
}

article.dark {
  background-color: rgba(0,0,0,0.4);
}

article.left {
  left: 0;
}

article.right {
  right: 0;
}

p {
  text-align: justify;
}

#bigtext {
  text-align:center;
  width: 100%;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  font-family: 'Open Sans';
  letter-spacing: -0.05em;
  margin-top: -0.1em;
}

#nav {
  top: auto;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 100;
}

#nav li{
  display: inline-block;
  list-style-type: none;
  width: 20%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

#nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.8em 0;
  display: inline-block;
  font-family: 'Open Sans'
}

img.logo {
  height: 50px
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 2s; }

@-webkit-keyframes welcome {
  from {
    opacity: 0;
  }
  50% {
   opacity: 50%;
  }
  to {
   opacity: 100%;
  }
}